.header {
    height: 64px;
    padding: 0 1.5rem;
    background: #141414;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.header_logo {
    font-size: 1.25rem;
    margin: 0;
}
