.sidebar {
    width: 250px;
    background-color: #023047;
    color: white;
    padding: 20px 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2 ease;
}

.sidebar ul li a:hover {
    background-color: #8ecae6;
}
