.sidebar {
    width: 250px;
    background-color: #023047;
    color: white;
    padding: 20px 0;
    height: calc(100vh - 64px);
    position: fixed;
    top: 64px;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li, .submenu-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: #fff;
    transition: background-color 0.2s ease;
}

.sidebar ul li a, submenu-link {
    flex: 1;
    color: inherit;
    text-decoration: none;
}

.sidebar ul li:hover,
.submenu-link:hover,
.arrow-btn:hover {
    background-color: #8ecae6;
}

.arrow-btn {
    background: none;
    border: none;
    color: inherit;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.arrow-btn.open {
    transform: rotate(90deg);         /* seta aponta para baixo */
}

/* ====== SUBMENU ====== */
.submenu {
    list-style: none;
    padding-left: 1.5rem;             /* indentação */
    background-color: #035170;
}

.submenu li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.submenu li a:hover {
    background-color: #219ebc;
}
